{% extends 'base.html.twig' %}

{% block nav %}
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('post.index') }}">
                <img src="{{ asset('assets/images/logo.png') }}" width="150" height="70" class="d-inline-block align-top" alt="">
            </a>
        </div>
    </nav>
{% endblock %}


{% block foother %}
    {# NOTHING #}
{% endblock %}